# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/AndroidStudy.iml
.idea/compiler.xml
.idea/copyright/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
app/libs/
app/src/main/res/drawable/
